/* .welcome-message{
    background-color: yellow;
    padding: 1rem;
    border-radius: 5px;
    width: 50%;
}

.card{
    width: 40%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: green;
    color: white;
} */

.country-card{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.box{
    border: 1px solid blue;
    padding: 1rem;
    margin: 1rem;
}